.box1{
    background:linear-gradient(rgba(63, 63, 63, 0.5),transparent) !important;
    background-color: rgb(139, 109, 171) !important;
    height: 120px;
}

.box2{
    background:linear-gradient(rgba(151, 130, 158, 0.5),transparent) !important;
    background-color: rgb(156, 104, 212) !important;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: rgb(72, 52, 79);
}

.textos{
   color: white;
}